<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ros.android">

    <application>
        <activity
            android:name="org.ros.android.MasterChooser"
            android:theme="@style/Theme.AppCompat"
            android:launchMode="standard"/>

        <service android:name="org.ros.android.NodeMainExecutorService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService"/>
            </intent-filter>
        </service>
    </application>

</manifest>
